*{
  box-sizing: border-box;
}
#root, html, body{
  margin: 0 auto;
  padding: auto;
  overflow: hidden;
  height:100%;
  width:100%;
}
.container {
  position: absolute;
  inset: 0;
  aspect-ratio: 2 / 1; 
  width: min(100vw, 100vh * 2);
  height: auto;
  border: 1px solid white;
  border-style: dashed;
}