.scrollbar-container{
    width:100%;
    height: 70px;
    overflow: hidden;
    padding: 10px;
}
.scrollbar{
    height: 120px;
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-direction: row;
    overflow-x: auto;
}
.components{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #7e79bb;
    flex-shrink: 0;
    text-align: center;
}
.shortcuts{
    position:absolute;
    top:7%;
    left:4%;
    font-size: 20px;
}
